<a href="https://colab.research.google.com/github/karla23x-01/Probabilidad-y-Estad-stica/blob/main/Unidad1/Practica3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#PROBABILIDAD Y ESTADISTICA
##UNIDAD 1
###FACILITADOR: Jose Gabriel Rodrigues Rivas
###Alumno: FUENTES GONZÁLEZ KARLA MARÍA
PROGRAMA 3: **TABLAS DE FRECUENCIA**

In [2]:
import random
edades=[]
for i in range(100):
  numero_aleatorio=random.randint(10,70)
  edades.append(numero_aleatorio)
print(edades)

[69, 40, 17, 59, 25, 29, 32, 57, 33, 19, 28, 14, 20, 26, 43, 68, 67, 66, 10, 22, 10, 22, 13, 49, 70, 62, 54, 65, 34, 10, 15, 48, 67, 37, 67, 16, 28, 66, 58, 63, 31, 34, 70, 11, 36, 26, 17, 68, 26, 56, 53, 48, 52, 60, 37, 29, 11, 46, 31, 32, 30, 33, 29, 67, 20, 32, 22, 35, 33, 12, 59, 25, 14, 12, 34, 50, 49, 36, 29, 23, 29, 35, 17, 51, 69, 33, 26, 14, 20, 12, 51, 49, 44, 29, 57, 14, 29, 24, 56, 64]

In [3]:
import pandas as pd
#Analisis de datos

In [4]:
df=pd.DataFrame(edades, columns=['Edad'])
df.head()
#

   Edad
0    69
1    40
2    17
3    59
4    25

In [6]:
tabla_frecuencias=df['Edad'].value_counts().reset_index()
tabla_frecuencias.columns=['Edad','Frecuencia']
tabla_frecuencias=tabla_frecuencias.sort_values(by='Edad')

print("Tabla de Distribución de Frecuencias:")
tabla_frecuencias
#

Tabla de Distribución de Frecuencias:

    Edad  Frecuencia
9     10           3
26    11           2
12    12           3
38    13           1
3     14           4
37    15           1
36    16           1
7     17           3
31    19           1
5     20           3
8     22           3
46    23           1
48    24           1
22    25           2
4     26           4
16    28           2
0     29           7
42    30           1
23    31           2
6     32           3
1     33           4
10    34           3
28    35           2
18    36           2
25    37           2
29    40           1
30    43           1
47    44           1
43    46           1
24    48           2
11    49           3
45    50           1
20    51           2
40    52           1
41    53           1
33    54           1
19    56           2
15    57           2
35    58           1
13    59           2
44    60           1
39    62           1
34    63           1
49    64           1
32    65           1
14    66           2
2     67           4
21    68           2
17    69           2
27    70           2

In [7]:
tabla_frecuencias['Frec Relativa']=tabla_frecuencias['Frecuencia']/100
tabla_frecuencias

    Edad  Frecuencia  Frec Relativa
9     10           3           0.03
26    11           2           0.02
12    12           3           0.03
38    13           1           0.01
3     14           4           0.04
37    15           1           0.01
36    16           1           0.01
7     17           3           0.03
31    19           1           0.01
5     20           3           0.03
8     22           3           0.03
46    23           1           0.01
48    24           1           0.01
22    25           2           0.02
4     26           4           0.04
16    28           2           0.02
0     29           7           0.07
42    30           1           0.01
23    31           2           0.02
6     32           3           0.03
1     33           4           0.04
10    34           3           0.03
28    35           2           0.02
18    36           2           0.02
25    37           2           0.02
29    40           1           0.01
30    43           1           0.01
47    44           1           0.01
43    46           1           0.01
24    48           2           0.02
11    49           3           0.03
45    50           1           0.01
20    51           2           0.02
40    52           1           0.01
41    53           1           0.01
33    54           1           0.01
19    56           2           0.02
15    57           2           0.02
35    58           1           0.01
13    59           2           0.02
44    60           1           0.01
39    62           1           0.01
34    63           1           0.01
49    64           1           0.01
32    65           1           0.01
14    66           2           0.02
2     67           4           0.04
21    68           2           0.02
17    69           2           0.02
27    70           2           0.02

In [8]:
tabla_frecuencias['Frec Porcentual']=tabla_frecuencias['Frecuencia']/100*100
tabla_frecuencias

    Edad  Frecuencia  Frec Relativa  Frec Porcentual
9     10           3           0.03              3.0
26    11           2           0.02              2.0
12    12           3           0.03              3.0
38    13           1           0.01              1.0
3     14           4           0.04              4.0
37    15           1           0.01              1.0
36    16           1           0.01              1.0
7     17           3           0.03              3.0
31    19           1           0.01              1.0
5     20           3           0.03              3.0
8     22           3           0.03              3.0
46    23           1           0.01              1.0
48    24           1           0.01              1.0
22    25           2           0.02              2.0
4     26           4           0.04              4.0
16    28           2           0.02              2.0
0     29           7           0.07              7.0
42    30           1           0.01              1.0
23    31           2           0.02              2.0
6     32           3           0.03              3.0
1     33           4           0.04              4.0
10    34           3           0.03              3.0
28    35           2           0.02              2.0
18    36           2           0.02              2.0
25    37           2           0.02              2.0
29    40           1           0.01              1.0
30    43           1           0.01              1.0
47    44           1           0.01              1.0
43    46           1           0.01              1.0
24    48           2           0.02              2.0
11    49           3           0.03              3.0
45    50           1           0.01              1.0
20    51           2           0.02              2.0
40    52           1           0.01              1.0
41    53           1           0.01              1.0
33    54           1           0.01              1.0
19    56           2           0.02              2.0
15    57           2           0.02              2.0
35    58           1           0.01              1.0
13    59           2           0.02              2.0
44    60           1           0.01              1.0
39    62           1           0.01              1.0
34    63           1           0.01              1.0
49    64           1           0.01              1.0
32    65           1           0.01              1.0
14    66           2           0.02              2.0
2     67           4           0.04              4.0
21    68           2           0.02              2.0
17    69           2           0.02              2.0
27    70           2           0.02              2.0

In [9]:
tabla_frecuencias['Frec Acumulada']=tabla_frecuencias['Frecuencia'].cumsum()
tabla_frecuencias
#

    Edad  Frecuencia  Frec Relativa  Frec Porcentual  Frec Acumulada
9     10           3           0.03              3.0               3
26    11           2           0.02              2.0               5
12    12           3           0.03              3.0               8
38    13           1           0.01              1.0               9
3     14           4           0.04              4.0              13
37    15           1           0.01              1.0              14
36    16           1           0.01              1.0              15
7     17           3           0.03              3.0              18
31    19           1           0.01              1.0              19
5     20           3           0.03              3.0              22
8     22           3           0.03              3.0              25
46    23           1           0.01              1.0              26
48    24           1           0.01              1.0              27
22    25           2           0.02              2.0              29
4     26           4           0.04              4.0              33
16    28           2           0.02              2.0              35
0     29           7           0.07              7.0              42
42    30           1           0.01              1.0              43
23    31           2           0.02              2.0              45
6     32           3           0.03              3.0              48
1     33           4           0.04              4.0              52
10    34           3           0.03              3.0              55
28    35           2           0.02              2.0              57
18    36           2           0.02              2.0              59
25    37           2           0.02              2.0              61
29    40           1           0.01              1.0              62
30    43           1           0.01              1.0              63
47    44           1           0.01              1.0              64
43    46           1           0.01              1.0              65
24    48           2           0.02              2.0              67
11    49           3           0.03              3.0              70
45    50           1           0.01              1.0              71
20    51           2           0.02              2.0              73
40    52           1           0.01              1.0              74
41    53           1           0.01              1.0              75
33    54           1           0.01              1.0              76
19    56           2           0.02              2.0              78
15    57           2           0.02              2.0              80
35    58           1           0.01              1.0              81
13    59           2           0.02              2.0              83
44    60           1           0.01              1.0              84
39    62           1           0.01              1.0              85
34    63           1           0.01              1.0              86
49    64           1           0.01              1.0              87
32    65           1           0.01              1.0              88
14    66           2           0.02              2.0              90
2     67           4           0.04              4.0              94
21    68           2           0.02              2.0              96
17    69           2           0.02              2.0              98
27    70           2           0.02              2.0             100

In [ ]:
n=len(edades)